<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <title>GoKrazy Status</title>
    <script src="tailwind.js"></script>
  </head>
  <body class="antialiased bg-gray-900">
{{ template "Main" . }}
  </body>
</html>
