<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <title>GoKrazy Status</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
{{ template "Main" . }}
  </body>
</html>
